  <footer id="footer">
    <div class="container">
      <div class="container-contents">
        <div class="footer">
          <p><i class="far fa-copyright"></i> Made by Codefoxx aka Miguel Nunez</p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>