<%- include('partials/header.ejs') %>

<section id="earth-showcase" class="fade">
  <div class="overlay">
    <div class="container">
      <div class="container-contents relative" >
        <div class="showcase-text">
          <h1>Earth</h1>
          <p>Earth is the third planet from the Sun and the only astronomical object known to harbor and support life. About 29.2% of Earth's surface is land consisting of continents and islands. The remaining 70.8% is covered with water, mostly by oceans, seas, gulfs, and other salt-water bodies, but also by lakes, rivers, and other freshwater, which together
        constitute the hydrosphere.Much of Earth's polar regions are covered in ice.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="earth">
  <div class="container">
    <div class="container-contents">
      <div class="planet-info">
        <div class="text">
          <div class="inner-text">
            <h1>Earth</h1>
            <p>All of the planets, except for Earth, were named after Greek and Roman gods and godesses. The name Earth is an English/German name which simply means the ground. It comes from the Old English words 'eor(th)e' and 'ertha'.</p>
          </div>
        </div>
        <div class="image" style="background-image: url('/images/earth_extra.jpg')"></div>
      </div>
    </div>
  </div>
</section>
    
<%- include('partials/footer.ejs') %>