<%- include('partials/header.ejs') %>

<section id="home-showcase" class="fade">
  <div class="container">
    <div class="container-contents relative">
      <div class="showcase-text">
        <h1>The Solar System</h1>
        <p>Our solar system consists of our star, the Sun, and everything bound to it by gravity — the planets Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus and Neptune, dwarf planets such as Pluto, dozens of moons and millions of asteroids, comets and meteoroids.</p>
      </div>
    </div>
  </div>
</section>

<section id="slider">
  <div class="container">
    <div class="container-contents">
      <div class="slider-wrapper">
        <div class="my-slider"> 
          <div>
            <a href="/sun">
              <div class="box the-sun">
                <div class="middle">
                    <h1>Sun</h1>
                </div>
              </div>
            </a>
          </div>
          <div>
            <a href="/mercury">
              <div class="box planet-mercury">
                <div class="middle">
                  <h1>Mercury</h1>
                </div>
              </div>
            </a>
          </div>
          <div>
            <a href="/venus">
              <div class="box planet-venus">
                <div class="middle">
                  <h1>Venus</h1>
                </div>
              </div>
            </a>
          </div>
          <div>
            <a href="/earth">
              <div class="box planet-earth">
                <div class="middle">
                  <h1>Earth</h1>
                </div>
              </div>
            </a>
          </div>
          <div>
            <a href="/mars">
              <div class="box planet-mars">
                <div class="middle">
                  <h1>Mars</h1>
                </div>
              </div>
            </a>
          </div>
          <div>
            <a href="/jupiter">
              <div class="box planet-jupiter">
                <div class="middle">
                  <h1>Jupiter</h1>
                </div>
              </div>
            </a>
          </div>
          <div>
            <a href="/saturn">
              <div class="box planet-saturn">
                <div class="middle">
                  <h1>Saturn</h1>
                </div>
              </div>
            </a>
          </div>
          <div>
            <a href="/uranus">
              <div class="box planet-uranus">
                <div class="middle">
                  <h1>Uranus</h1>
                </div>
              </div>
            </a>
          </div>
          <div>
            <a href="/neptune">
              <div class="box planet-neptune">
                <div class="middle">
                  <h1>Neptune</h1>
                </div>
              </div>
            </a>
          </div>
          <div>
            <a href="/pluto">
              <div class="box planet-pluto">
                <div class="middle">
                  <h1>Pluto</h1>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div id="controls">
          <button class="previous"><i class="fas fa-angle-left"></i></button>
          <button class="next"><i class="fas fa-angle-right"></i></button>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/js/three.min.js"></script>
<script src="/js/script.js"></script>

<%- include('partials/footer.ejs') %>