<%- include('partials/header.ejs') %>

<section id="jupiter-showcase" class="fade">
  <div class="overlay">
    <div class="container" >
      <div class="container-contents relative">
        <div class="showcase-text">
          <h1>Jupiter</h1>
           <p>Jupiter is the fifth planet from the Sun and the largest in the Solar System. It is a gas giant with a mass more than two and a half times that of all the other planets in the Solar System combined, but slightly less than one-thousandth the mass of the Sun. Jupiter is the third-brightest natural object in the Earth's night sky after the Moon and Venus.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="jupiter">
  <div class="container">
    <div class="container-contents">
      <div class="planet-info">
        <div class="text">
          <div class="inner-text ">
            <h1>King of Gods</h1>
            <p>It has been observed since pre-historic times and is named after the Roman god Jupiter, the king of the gods, because of its observed size.</p>
          </div>
        </div>
        <div class="image" style="background-image: url(/images/jupiter-sky.jpg)"></div>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer.ejs') %>