<%- include('partials/header.ejs') %>

<section id="mars-showcase" class="fade">
  <div class="overlay">
    <div class="container">
      <div class="container-contents relative" >
        <div class="showcase-text">
          <h1>Mars</h1>
          <p>Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury. The latter refers to the effect of the iron oxide prevalent on Mars's surface, which gives it a reddish appearance distinctive among the astronomical bodies visible to the naked eye.</p>
        </div>
      </div>
    </div>
  </div>
</section>
  
<section id="mars">
  <div class="container">
    <div class="container-contents">
      <div class="planet-info">
        <div class="text">
          <div class="inner-text">
            <h1>God of War</h1>
            <p>In English, Mars carries the name of the Roman god of war and is often referred to as the "Red Planet".</p>
          </div>
        </div>
        <div class="image" style="background-image: url(/images/mars-ground.jpg)"></div>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer.ejs') %>