<%- include('partials/header.ejs') %>

<section id="mercury-showcase" class="fade">
  <div class="overlay">
    <div class="container">
      <div class="container-contents relative" >
        <div class="showcase-text">
          <h1>Mercury</h1>
          <p>Mercury is the smallest planet in the Solar System and the closest to the Sun. Its orbit around the Sun takes 87.97 Earth days, the shortest of all the Sun's planets. Like Venus,
          Mercury orbits the Sun within Earth's orbit as an inferior planet, and its apparent distance from the Sun as viewed from Earth never exceeds 28°.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="mercury">
  <div class="container">
    <div class="container-contents">
      <div class="planet-info">
        <div class="text">
          <div class="inner-text">
            <h1>God of Commerce</h1>
            <p> It is named after the Roman god Mercurius (Mercury), god of commerce, messenger of the gods, and mediator between gods and mortals, corresponding to the Greek god Hermes (Ἑρμῆς). </p>
          </div>
        </div>
        <div class="image" style="background-image: url('/images/mercury_extra.jpg')"></div>
      </div>
    </div>
  </div>
</section>


  <%- include('partials/footer.ejs') %>