<%- include('partials/header.ejs') %>

<section id="neptune-showcase" class="fade">
  <div class="overlay">
    <div class="container" >
      <div class="container-contents relative">
        <div class="showcase-text">
          <h1>Neptune</h1>
          <p>Neptune is the eighth and farthest-known Solar planet from the Sun. In the Solar System, it is the fourth-largest planet by diameter, the third-most-massive planet, and the densest giant planet. It is 17 times the mass of Earth, slightly more massive than its near-twin Uranus. Neptune is denser and physically smaller than Uranus because its greater mass causes more gravitational compression of its atmosphere.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="neptune">
  <div class="container">
    <div class="container-contents">
      <div class="planet-info">
        <div class="text">
          <div class="inner-text ">
            <h1>Neptune</h1>
            <p>It is named after the Roman god of the sea and has the astronomical symbol ♆, a stylised version of the god Neptune's trident.</p>
          </div>
        </div>
        <div class="image" style="background-image: url('<%= neptuneUrl[3].urls.raw %>')"></div>
      </div>
    </div>
  </div>
</section>
    
<%- include('partials/footer.ejs') %>