<%- include('partials/header.ejs') %>

<section id="pluto-showcase" class="fade">
  <div class="overlay">
    <div class="container" >
      <div class="container-contents relative">
        <div class="showcase-text">
          <h1>Pluto</h1>
          <p>Pluto is a dwarf planet in the Kuiper belt, a ring of bodies beyond the orbit of Neptune. It was the first and the largest Kuiper belt object to be discovered. After Pluto was discovered in 1930, it was declared to be the ninth planet from the Sun. Beginning in the 1990s, its status as a planet was questioned following the discovery of several objects of similar size in the Kuiper belt and the scattered disc, including the dwarf planet Eris.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="pluto">
  <div class="container">
    <div class="container-contents">
      <div class="planet-info">
        <div class="text">
          <div class="inner-text ">
            <h1>God of the Underworld</h1>
            <p>Pluto got its name from 11-year-old Venetia Burney of Oxford, England, who suggested to her grandfather that the new world get its name from the Roman god of the underworld.</p>
          </div>
        </div>
        <div class="image" style="background-image: url('<%= plutoUrl[1].urls.raw %>')"></div>
      </div>
    </div>
  </div>
</section>

  <%- include('partials/footer.ejs') %>