<%- include('partials/header.ejs') %>

<section id="saturn-showcase" class="fade">
  <div class="overlay">
    <div class="container" >
      <div class="container-contents relative">
        <div class="showcase-text">
          <h1>Saturn</h1>
        <p>Saturn is the sixth planet from the Sun and the second-largest in the Solar System, after Jupiter. It is a gas giant with an average radius of about nine and a half times that of Earth. It only has one-eighth the average density of Earth; however, with its larger volume, Saturn is over 95 times more massive.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="saturn">
  <div class="container">
    <div class="container-contents">
      <div class="planet-info">
        <div class="text">
          <div class="inner-text ">
            <h1>God of Wealth & Agriculture</h1>
            <p>Saturn is named after the Roman god of wealth and agriculture; its astronomical symbol (♄) represents the god's sickle.</p>
          </div>
        </div>
        <div class="image" style="background-image: url('<%= saturnUrl[6].urls.raw %>')"></div>
      </div>
    </div>
  </div>
</section>
    
<%- include('partials/footer.ejs') %>