<%- include('partials/header.ejs') %>

<section id="uranus-showcase" class="fade">
  <div class="overlay">
    <div class="container" >
      <div class="container-contents relative">
        <div class="showcase-text">
          <h1>Uranus</h1>
          <p>Uranus is the seventh planet from the Sun. It has the third-largest planetary radius and fourth-largest planetary mass in the Solar System. Uranus is similar in composition to Neptune, and both have bulk chemical compositions which differ from that of the larger gas
        giants Jupiter and Saturn.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="uranus">
  <div class="container">
    <div class="container-contents">
      <div class="planet-info">
        <div class="text">
          <div class="inner-text ">
            <h1>God of the Sky</h1>
            <p>Its name is a reference to the Greek god of the sky, Uranus, who, according to Greek mythology, was the great-grandfather of Ares (Mars), grandfather of Zeus (Jupiter) and father of Cronus (Saturn).</p>
          </div>
        </div>
        <div class="image" style="background-image: url('<%= uranusUrl[2].urls.raw %>')"></div>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer.ejs') %>