<%- include('partials/header.ejs') %>

<section id="venus-showcase" class="fade">
  <div class="overlay">
    <div class="container">
      <div class="container-contents relative" >
        <div class="showcase-text">
          <h1>Venus</h1>
        <p>Venus is the second planet from the Sun. As the brightest natural object in Earth's night sky after the Moon, Venus can cast shadows and can be, on rare occasions, visible to the naked eye in broad daylight. Venus lies within Earth's orbit, and so never appears to venture
        far from the Sun, either setting in the west just after dusk or rising in the east a little while before dawn. Venus orbits the Sun every 224.7 Earth days.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="venus">
  <div class="container">
    <div class="container-contents">
      <div class="planet-info">
        <div class="text">
          <div class="inner-text">
            <h1>Goddess of Love & Beauty</h1>
            <p>It is named after the Roman goddess of love and beauty. However, Roman Venus had many abilities beyond the Greek Aphrodite; she was a goddess of victory, fertility, and even
            prostitution.</p>
          </div>
        </div>
        <div class="image" style="background-image: url('<%= venusUrl[25].urls.raw  %>')"></div>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer.ejs') %>